.container-proyectos {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    margin-top: 50px; /* Ajusta según sea necesario */
    gap: 20px;
    margin-bottom: 50px;
}

.proyecto {
    text-align: center;
    border: solid 2px;
    width: 600px;
    overflow: hidden;

}

.proyecto h3{
    font-size: 45px;
}

.proyecto img {
    width: 500px;
    height: 400px; 
}

.proyecto p{
    font-size: 25px;
}

.titleh3{
    background-color: rgb(84, 80, 80);; 
}

.titless{
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)); 
    height: 200px;
}

@media screen and (max-width: 768px){
    .container-proyectos {
        display: flex;
        flex-direction: column;
        justify-content: center; /* Centra horizontalmente */
        align-items: center; /* Centra verticalmente */
        margin-top: 50px; /* Ajusta según sea necesario */
        gap: 20px;
        margin-bottom: 50px;
    }

    .proyecto {
        text-align: center;
        border: solid 2px;
        width: 400px;
        overflow: hidden;
    
    }
    .proyecto h3{
        font-size: 30px;
    }

    .proyecto img {
        width: 400px;
        height: 300px; 
    }
}